
<div class="layout-container">

  <div class="container menu-page">
    <div class="row">
      <div class="close-button">
        <div class="close-icon"> 
            <div></div>
            <div></div>
            <div></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <main role="main">
            {{ page.primary_menu }}
        </main>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
          footer menu here
      </div>
    </div>
  </div>
  

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}

<script>
  const uiCloseIcon = document.querySelector('.line-crossed');
  uiCloseIcon.addEventListener('click',function(){
    window.location = '{{url('<front>')}}/profile';
  }) 
</script>
