
<div class="layout-container">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <main class="menu-page">
            {#  PRIMARY MENU #}
            {{ page.primary_menu }}
        </main>   
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <div class="get-in-touch">
            {#  GET IN TOUCH #}
              <p>get in touch</p>
          </div>   
        </div>
    </div>
  </div>
  
  
</div>{# /.layout-container #}
  