
<div class="layout-container">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <main class="menu-page">
            {#  PRIMARY MENU #}
            {{ page.primary_menu }}
        </main>   
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
          <div class="get-in-touch">
            {#  GET IN TOUCH #}
            <h2>Get in Touch</h2>
            <p>design@with.me</p>
            <ul>
              <li><i class="fab fa-facebook"></i></li>
              <li><i class="fab fa-instagram"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-linkedin"></i></li>
              <li><i class="fab fa-youtube"></i></li>
            </ul>
          </div>   
        </div>
    </div>
  </div>
  
  
</div>{# /.layout-container #}
  