
<div class="layout-container">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <main class="menu-page" role="main">
            {{ page.primary_menu }}
        </main>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
          footer menu here
      </div>

    </div>
  </div>
  

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
