
<div class="layout-container">

{# HEADER MENU BAR#}
{% include '@bootstrap_sass/includes/header.html.twig' %} 

{#  PRIMARY MENU #}
  {{ page.primary_menu }}

  <main class="front-page">


  {{ page.content }}


  </main>

  <div class="demo-page">
    <div class="container">
      <div class="row">
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
          <div class="card" style="width: 15rem; margin: 10px">
              <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">the card title</p>
              </div>
          </div>
      </div>    
    </div>
  </div>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
