
<div class="layout-container">

{# HEADER MENU BAR#}
{% include '@bootstrap_sass/includes/header.html.twig' %} 

{#  PRIMARY MENU #}
  {{ page.primary_menu }}

  <main class="front-page">


  {{ page.content }}


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
